# this is needen because ena-upload is depending on the PyYAML>5.* 
# but version 5.4.1 cannot be installed because of a malicious setup.cfg
PyYAML==6.0.2
ena-upload-cli==0.9.0
click==8.2.1
python-box==7.3.2
rich==14.0.0
pandas==2.3.1
django==5.2.4
django_extensions==4.1
django-cors-headers==4.7.0
django-filter==25.1
django-constance==4.3.2
djangorestframework==3.16.0
djangorestframework-csv==3.0.2
drf-spectacular[sidecar]==0.28.0
drf-schema-adapter==3.0.6
gunicorn==23.0.0
uvicorn==0.35.0
psycopg2==2.9.10
sh==2.2.2
